# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# Next.js Build Output
.next
out
dist

# IDEs and Editors
.vscode

# Operating System Files
.DS_Store
Thumbs.db

# Version Control
.git
.gitignore
.gitattributes

# Docker Configuration
Dockerfile*
docker-compose*
.docker

# Documentation
README.md
docs

# Environment Variables
# Exclude all secret local env files. Keep configurations out of the image context.
*.env
*.env.*
secrets.json

# OPTIONAL: Allow a safe public example template to be included
!.env.example